{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{#   {{ phpinfo | raw }}{}#}

<div class="container">
{#   } {{ form(form) }}#}

</div>
{% endblock %}
